function Gun.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 3
push this 3
call Bullet.new 1
pop this 2
push pointer 0
call Gun.draw_gun 1
pop temp 0
push pointer 0
return
function Gun.draw_gun 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 8
push constant 112
push constant 79
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 16
push constant 104
push constant 23
push constant 111
call Screen.drawRectangle 4
pop temp 0
push constant 11
push constant 128
push constant 31
push constant 159
call Screen.drawRectangle 4
pop temp 0
push constant 72
push constant 104
push constant 79
push constant 111
call Screen.drawRectangle 4
pop temp 0
push constant 36
push constant 128
push constant 39
push constant 135
call Screen.drawRectangle 4
pop temp 0
push constant 44
push constant 128
push constant 47
push constant 143
call Screen.drawRectangle 4
pop temp 0
push constant 32
push constant 140
push constant 43
push constant 143
call Screen.drawRectangle 4
pop temp 0
push pointer 0
call Gun.dispose 1
pop temp 0
push constant 0
return
function Gun.fire_start 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 254
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 508
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1016
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2032
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4064
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8128
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16256
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32512
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32256
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 31744
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push argument 1
push constant 2
push constant 16
push constant 32
call Math.multiply 2
call Math.multiply 2
sub
pop argument 1
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32256
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16128
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8064
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4032
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 1008
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 504
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 252
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 126
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 80
push constant 96
push constant 95
push constant 143
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Gun.fire 0
push argument 0
pop pointer 0
push this 2
call Bullet.move 1
pop temp 0
push constant 0
return
function Gun.blast 0
push argument 0
pop pointer 0
push this 2
push argument 1
call Bullet.blast 2
pop temp 0
push constant 0
return
function Gun.hit 0
push argument 0
pop pointer 0
push this 2
call Bullet.hit 1
return
function Gun.disappear 0
push argument 0
pop pointer 0
push this 2
call Bullet.disappear 1
pop temp 0
push pointer 0
call Gun.dispose 1
pop temp 0
push constant 0
return
function Gun.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
