function Target.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 4
push constant 0
pop this 1
push constant 3
pop this 3
push constant 0
pop this 0
push pointer 0
return
function Target.draw_target 0
push argument 0
pop pointer 0
push argument 1
call Screen.setColor 1
pop temp 0
push constant 504
push this 0
push constant 511
push this 0
push constant 95
add
call Screen.drawRectangle 4
pop temp 0
push constant 496
push this 0
push constant 16
add
push constant 503
push this 0
push constant 16
add
push constant 63
add
call Screen.drawRectangle 4
pop temp 0
push constant 488
push this 0
push constant 32
add
push constant 495
push this 0
push constant 32
add
push constant 31
add
call Screen.drawRectangle 4
pop temp 0
push constant 484
push this 0
push constant 40
add
push constant 487
push this 0
push constant 40
add
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 491
push this 0
push constant 35
add
push constant 493
push this 0
push constant 60
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Target.move 5
push argument 0
pop pointer 0
push constant 0
not
pop local 1
push constant 0
not
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 1
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 4
push local 4
push constant 32
eq
push local 3
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 3
push argument 1
push constant 4101
call Gun.fire_start 2
pop temp 0
label IF_FALSE0
push local 3
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Gun.fire 1
pop temp 0
label IF_FALSE1
push argument 1
call Gun.hit 1
push this 3
and
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Target.calc_score 1
pop this 2
push this 3
push constant 1
sub
pop this 3
push this 1
push this 2
add
pop this 1
push argument 1
call Gun.disappear 1
pop temp 0
push argument 1
push constant 3805
call Gun.blast 2
pop temp 0
push pointer 0
call Target.show_score 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
push constant 0
push this 4
call Gun.new 3
pop argument 1
push constant 0
pop local 3
label IF_FALSE2
push this 3
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
return
label IF_FALSE3
push this 0
push constant 159
lt
push local 2
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Target.move_down 1
pop temp 0
push this 0
push constant 1
add
pop this 0
label IF_FALSE4
push this 0
push constant 159
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop local 2
label IF_FALSE5
push this 0
push constant 0
gt
push local 2
not
and
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Target.move_up 1
pop temp 0
push this 0
push constant 1
sub
pop this 0
label IF_FALSE6
push this 0
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
pop local 2
label IF_FALSE7
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Target.abs 0
push argument 0
pop pointer 0
push argument 1
push argument 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
sub
return
label IF_FALSE0
push argument 2
push argument 1
sub
return
function Target.calc_score 2
push argument 0
pop pointer 0
push this 0
push constant 48
add
pop local 0
push pointer 0
push constant 120
push local 0
call Target.abs 3
pop local 1
push local 1
push constant 10
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 100
return
label IF_FALSE0
push local 1
push constant 20
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 80
return
label IF_FALSE1
push local 1
push constant 30
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 60
return
label IF_FALSE2
push local 1
push constant 40
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 40
return
label IF_FALSE3
push local 1
push constant 50
lt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 20
return
label IF_FALSE4
push constant 0
return
function Target.move_down 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 504
push constant 95
push this 0
add
push constant 1
add
push constant 511
push constant 95
push this 0
add
push constant 1
add
call Screen.drawLine 4
pop temp 0
push constant 496
push this 0
push constant 16
add
push constant 63
add
push constant 1
add
push constant 503
push this 0
push constant 16
add
push constant 63
add
push constant 1
add
call Screen.drawLine 4
pop temp 0
push constant 488
push this 0
push constant 32
add
push constant 31
add
push constant 1
add
push constant 495
push this 0
push constant 32
add
push constant 31
add
push constant 1
add
call Screen.drawLine 4
pop temp 0
push constant 484
push this 0
push constant 40
add
push constant 15
add
push constant 1
add
push constant 487
push this 0
push constant 40
add
push constant 15
add
push constant 1
add
call Screen.drawLine 4
pop temp 0
push constant 491
push this 0
push constant 35
add
push constant 493
push this 0
push constant 35
add
call Screen.drawLine 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 504
push this 0
push constant 511
push this 0
call Screen.drawLine 4
pop temp 0
push constant 496
push this 0
push constant 16
add
push constant 503
push this 0
push constant 16
add
call Screen.drawLine 4
pop temp 0
push constant 488
push this 0
push constant 32
add
push constant 495
push this 0
push constant 32
add
call Screen.drawLine 4
pop temp 0
push constant 484
push this 0
push constant 40
add
push constant 487
push this 0
push constant 40
add
call Screen.drawLine 4
pop temp 0
push constant 491
push this 0
push constant 60
add
push constant 1
add
push constant 493
push this 0
push constant 60
add
push constant 1
add
call Screen.drawLine 4
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
push constant 0
return
function Target.move_up 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 504
push this 0
push constant 1
sub
push constant 511
push this 0
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push constant 496
push this 0
push constant 16
add
push constant 1
sub
push constant 503
push this 0
push constant 16
add
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push constant 488
push this 0
push constant 32
add
push constant 1
sub
push constant 495
push this 0
push constant 32
add
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push constant 484
push this 0
push constant 40
add
push constant 1
sub
push constant 487
push this 0
push constant 40
add
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push constant 491
push this 0
push constant 60
add
push constant 1
sub
push constant 493
push this 0
push constant 60
add
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 504
push constant 95
push this 0
add
push constant 511
push constant 95
push this 0
add
call Screen.drawLine 4
pop temp 0
push constant 496
push this 0
push constant 16
add
push constant 63
add
push constant 503
push this 0
push constant 16
add
push constant 63
add
call Screen.drawLine 4
pop temp 0
push constant 488
push this 0
push constant 32
add
push constant 31
add
push constant 495
push this 0
push constant 32
add
push constant 31
add
call Screen.drawLine 4
pop temp 0
push constant 484
push this 0
push constant 40
add
push constant 15
add
push constant 487
push this 0
push constant 40
add
push constant 15
add
call Screen.drawLine 4
pop temp 0
push constant 491
push this 0
push constant 35
add
push constant 1
sub
push constant 493
push this 0
push constant 35
add
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push constant 10
call Sys.wait 1
pop temp 0
push constant 0
return
function Target.show_score 0
push argument 0
pop pointer 0
push constant 3
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 22
call String.new 1
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push constant 45
call Output.moveCursor 2
pop temp 0
push constant 3
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push constant 45
call Output.moveCursor 2
pop temp 0
push this 2
call Output.printInt 1
pop temp 0
push constant 5
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 18
call String.new 1
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 5
push constant 40
call Output.moveCursor 2
pop temp 0
push this 3
call Output.printInt 1
pop temp 0
push constant 7
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 7
push constant 40
call Output.moveCursor 2
pop temp 0
push this 1
call Output.printInt 1
pop temp 0
push constant 0
return
function Target.show_final 0
push argument 0
pop pointer 0
push constant 7
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 20
call String.new 1
push constant 89
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 85
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 58
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 7
push constant 40
call Output.moveCursor 2
pop temp 0
push this 1
call Output.printInt 1
pop temp 0
push constant 0
return
function Target.dispose 0
push argument 0
pop pointer 0
call gun.disappear 0
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
